<a href="https://colab.research.google.com/github/Reape4er/python-programming/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Введите ваше ФИО]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print("Добро пожаловать в мир Python!")

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
print(15+27)

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
name = 'ivan'
print(name)

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [2]:
print("строка 1\nстрока 2")

строка 1
строка 2

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [3]:
print(f'7 + 7 = {7+7}')

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [16]:
a = int(input('число a: '))
b = int(input('число b: '))
print(f'произведение a и b: {a*b}')

число a: 2
число b: 3
произведение a и b: 6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [12]:
name = input('Введите ваше ФИО:').split(' ')
print(f'Фамилия и инициалы: {name[0]} {name[1][0]}. {name[2][0]}.')

Введите ваше ФИО:Артамонов Иван Леонидович
Фамилия и инициалы: Артамонов И. Л.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [18]:
user_string = input('Введите строку: ')
symbol = input('Введите символ для подсчета: ')
print(f'Символ встречается {user_string.count(symbol)} раз')

Введите строку: нейросеть
введите символ для подсчета: е
символ встречается 2 раз

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [20]:
print(f'{input('Укажите цвет: ')} - красивый цвет!')

Укажите цвет: фиолетовый
фиолетовый - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [22]:
print(f'Длина строки пользователя: {len(input('Введите строку: '))}')

Введите строку: Забор
Длина строки пользователя: 5

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [23]:
a = 42
print(a)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [25]:
print(int(17*3+10/2))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [26]:
number = int("100")
print(number+25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [27]:
numer = 7
print(type(number))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [28]:
a = 1
b = 2
print(a-b)

-1

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [32]:
real_number = float(input("Введите вещественное число "))
print(f'Квадрат числа {real_number**2}')

Введите вещественное число 2.5
Квадрат числа 6.25

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [33]:
import math
real_number = float(input("Введите вещественное число "))
print(f'Округленное число вверх {math.ceil(real_number)}')

Введите вещественное число 2.5
Округленное число вверх 3

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [34]:
print(2.5+4.7)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [37]:
Cel = float(input('Введите градусы Цельсия '))
print(f'В Фаренгейтах: {Cel*9/5+32}')

Введите градусы Цельсия 100
В Фаренгейтах: 212.0

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [40]:
a = float(input("Введите первую сторону прямоугольника "))
b = float(input("Введите вторую сторону прямоугольника "))
print(f'Площадь прямоугольника: {a*b}')
print(f'Периметр прямоугольника: {(a+b)*2}')

Введите первую сторону прямоугольника 1
Введите вторую сторону прямоугольника 2
Площадь прямоугольника: 2.0
Периметр прямоугольника: 6.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [41]:
py = "Python - самый популярный язык программирования"
print(py)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [42]:
st = "Привет, мир!"
print(f'{st[0]}, {st[-1]}')

П, !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [44]:
print("МИИГАиК - "+"Лучший "+"ВУЗ!")

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [45]:
number = int('12345')
print(type(number))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [46]:
string = 'python is Fun'
print(string.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [47]:
number_list = [10,20,30,40,50]
print(number_list)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [48]:
number_list.append("новый элемент")
print(number_list)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [51]:
lang_list = ['python', 'java', 'c++', 'ruby', 'perl']
print(lang_list[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [52]:
some_list = []
some_list.append(1)
some_list.append('aabb')
some_list.append([1,2,3])
print(some_list)

[1, 'aabb', [1, 2, 3]]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [53]:
num_list = [1,2,3,4,5]
num_list[1] = 200
print(num_list)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [54]:
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [56]:
tup[0] = 10
#Не поддерживает присваивание элементов

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [58]:
tup = (1,2)
tup2str = str(tup)
print(tup2str)

(1, 2)

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [61]:
tup = (1,2,3)
print("Число 1 есть") if 1 in tup else print('Числа 1 нет')
print("Число 12 есть") if 12 in tup else print('Числа 12 нет')

Число 1 есть
Числа 12 нет

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [63]:
tup = (1,2,2,3,3,3)
print(tup.count(2))
print(tup.count(3))

2
3

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [67]:
info = {
    "имя": "Иван",
    "возраст": 22,
    "город": "Москва"
}
print(info)

{'имя': 'Иван', 'возраст': 22, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [68]:
info.get('имя')

'Иван'

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [70]:
info["вуз"] = "миигаик"
print(info)

{'имя': 'Иван', 'возраст': 22, 'город': 'Москва', 'вуз': 'миигаик'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [71]:
info.pop("город")
print(info)

{'имя': 'Иван', 'возраст': 22, 'вуз': 'миигаик'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [73]:
empty_dict = {}
key = input("Введите ключ: ")
value = input("Введите значение: ")
empty_dict[key] = value
print(empty_dict)

Введите ключ: ключ
Введите значение: значение
{'ключ': 'значение'}